body {
    font-family: sans-serif;
    background-color: #42a0c2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color:#42a0c2;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
}

#paragraph-container {
    border: 1px solid white;
    backgrpund-color:#42a0c2;
    color:Black;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    height: 150px;
    overflow-y: auto;
}

#input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#results {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

#reset-btn {
    background-color: #83e879;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

#reset-btn:hover {
    background-color: #0d05f2;
}

.correct {
    color:green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

